
# Determine if palloc patch should be applied to the host and guest
# kernels (default = n)
use_palloc=y

# Don't use the PREEMPT RT patch (default = n)
#disable_rt=y

# Additional 1GB for jailhouse inmates (default = y)
jailhouse_largemem=y

# This specifies the range of addresses from the virtual network
# interface create jailhouse that will be allocated to inmates
jailhouse_netshmem_if_low=10.1.1.1
jailhouse_netshmem_if_high=10.1.1.7
jailhouse_netshmem_if=eth1

# Do not run dnsmasq and do not assign IPs for inmates
# (default = y)
#disable_dnsmasq=n
